* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #efeee7;
    margin: 0px 0px 40px 0px;
    padding: 0px 0px 20px 0px;
    top: 0;
    height: 100%;
    background-image: url(../images/interlaced.png);
}
.rwd-break {
    display: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row {
    overflow: auto;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    margin: 0px 0px 20px 0px;
}

/* This is the section for the header css */
.header-container {
    margin: auto;
}

.page-headers {
    background-color: #4aaaa5;
    color: white;
    font-size: 18pt;
    margin: 0;
    width: 20%;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

nav {
    float: right;
    line-height: 60px;
    vertical-align: middle;
    color: lightgray;
}

.nav-bar-link {
    color: #777777;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.section-headers {
    color: #4aaaa5;
    line-height: 300%;
    padding-left: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.section-headers-divider {
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid lightgray;
    margin-top: 0;
}

/* This is the footer section */
footer {
    background-color: #666666;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: solid 6px #4aaaa5;
    color: #ffffff;
    font-size: 8pt;
    text-align: center;
}

/* This is the section for the about me specific css */
#bio-container {
    background-color: #ffffff;
    margin: auto;
    border: 1pt solid #dddddd;
    overflow: auto;
}

#bio-image {
    float: left;
    height: auto;
    max-width: 30%;
    margin: 0px 30px 30px 0px;
}

#personal-history {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

#bio-photo-div {
    padding: 15px 30px 15px 30px;
    font-family: Arial, Helvetica, sans-serif;
}
/* This is the section for the portfolio specific css */
#portfolio {
    background-color: #ffffff;
    margin: auto;
    border: 1pt solid #dddddd;
    overflow: auto;
}

.photo-containers {
    position: relative;
    height: 100px;
    width: 150px;
    float: left;
}

.portfolio-image {
    width: 100%;
    height: 100%;
}

.text-block {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    text-align: center;
    bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 8px 8px;
}

#burger-photo {
    margin: 15px 15px 15px 30px;
}

#rpg-photo {
    margin: 15px 15px 15px 15px;
}

#trivia-photo {
    margin: 15px 15px 15px 30px;
    clear: left;
}

#rutgers-photo {
    margin: 15px 15px 15px 15px;
}

#rock-paper-scissors-photo {
    margin: 15px 15px 15px 30px;
    clear: left;
}

/* This is the section for the contact specific css */
#contact {
    background-color: #ffffff;
    margin: auto;
    border: 1pt solid #dddddd;
    overflow: auto;
}

#contact-section {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
}

#form-section {
    margin-bottom: 10px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    color: gray;
}

input {
    width: 100%;
    color: #777777;
    margin-bottom: 10px;
}

#input-message {
    height: 200px;
    width: 100%;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

#contact-button {
    color: white;
    background-color: lightseagreen;
    padding: 5px 15px 5px 15px;
}

@media only screen and (min-width: 833px) {
    #portfolio {
        width: 50%;
        margin-left: 12.5%;
    }

    #contact {
        width: 50%;
        margin-left: 12.5%;
    }

    #bio-container {
        width: 50%;
        margin-left: 12.5%;
    }

}

@media only screen and (max-width: 832px) {
    .page-headers {
        width: 30%;
    }

}

@media only screen and (max-width: 640px) {
    
    [class*="col-"] {
        width: 90%;
    }

    .section-headers {
        padding: 0;
    }

    .page-headers {
        width: 100%;
    }

    .nav-bar-link {
        font-size: 8pt;
    }

    nav {
        line-height: 16px;
        width: 100%;
        text-align: center;
    }

    .header-container {
        width: 100%;
    }

    .footerContainer {
        width: 100%;
    }

    /* This is the section for the about me specific css media queries  */
    #bio-image {
        float: none;
        margin: 0px 0px 10px 0px;
        max-width: 80%;
        height: auto;
    }

    #bio-container {
        text-align: center;
    }

    #bio-photo-div {
        margin: 0;
        width: 100%;
    }

    #personal-history {
        text-align: left;
        width: 100%;
    }

    /* This is the section for the portfolio specific css media queries*/
    .photo-containers {
        float: none;
        display: inline-block;
    }
    .rwd-break {
        display: block;
    }
    
    #hangman-photo {
        margin: 15px 0px 15px 0px;
    }
    
    #rpg-photo {
        margin: 15px 0px 15px 0px;
    }
    
    #trivia-photo {
        margin: 15px 0px 15px 0px;
    }
    
    #rutgers-photo {
        margin: 15px 0px 15px 0px;
    }
    
    #rock-paper-scissors-photo {
        margin: 15px 0px 15px 0px;
    }

    #portfolio {
        text-align: center;
    }
    
    #contactSectionHeader {
        padding-left: 30px;
    }
}



